#sacredTimeline {
    z-index: 99;
    /* pointer-events: none; */
    /* overflow-x: scroll; */

}

#timelineContainer {
    width: 100%;
    overflow-x: scroll !important;
}

.timelinePoint {
    pointer-events: all;
}

#timeline {
    margin: 0 auto;
    display: block;
    pointer-events: none;
    overflow-x: scroll;
    width: 3000px;
}

.timelinePoint:hover {
    stroke-width: 8px;
}

/* .curve:hover {
    stroke-width: 2px;

} */

.curve {
    fill: none;
    /* filter: blur(0.4px); */
}